
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Baloo+Bhai+2:wght@400..800&display=swap');

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
 
    }
   






p {

    color:#FFFFFF;


}

.greentext {

color:#253528 ;
font-size: 25px;
font-family: "Baloo 2", sans-serif;
font-optical-sizing: auto;
font-weight:600;
font-style: normal;
}



.lightgreentext {

color: #B9C2A1;

}

.info {
position :absolute;
  left: 55%;
 

}

.infodiv {
position:relative;
top: -300px;
margin-left: 100px;
box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
}

#leaf {
margin-left: 100px;

}







.information {
  top: 20px;
  position: relative;
  

}

.container {
height: 220px;
width: 500px;
justify-content: right;
display: flex;
align-items: end;

}

.infotext {
font-size: 15;
font-family: "Baloo 2", sans-serif;
font-optical-sizing: auto;
font-weight: normal;
font-style: normal;

}

.containername {
display: flex;
width: 320px;
height: 80px;
align-items: start;
justify-content: right;
}

.name {
  font-family: "Baloo Bhai 2", sans-serif;
  font-size: 60;
  font-weight: bolder;
  font-style: normal;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.icon {

width: 15;

}

.danke {
background-color: #253528;
position: absolute;
top: 360px;
left:20px;
height: 280;
width: 520;
padding: 20px 20px 10px 10px;
border-radius: 40px;
box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
margin-left: 100px;
}

.textdanke {

font-size: 19;
font-family: "Baloo 2", sans-serif;
font-optical-sizing: auto;
font-weight: normal;
font-style: normal;


}

.content {


width: 780px;
margin: -619 800PX 0 700px;
}

.tabs__body {

margin: 25px 0px 0px 0px ;

}

.tabs_items {
display: flex;
height: 28px;
width: 720px;
justify-content: center  ;
align-items: center;
flex: 0 0 180px 28px;
justify-content: space-around;
background-color: #253528;
flex-shrink: 0;
border-radius: 9px;
box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.25)  ;



}

.tabs__item {

  color: #FFFFFF;
  font-family: "Baloo Bhai 2", sans-serif;
  font-size: 14;
  font-weight: bolder;
  font-style: normal;
  text-shadow: 0px 4px 4px rgb(255, 255, 255, 0.6);
  text-decoration: none;
}

.tabs_block {
position: relative;
display: none;
width: 760px;
height: 780px;
}

.tabs_block:target {

display: block;
}



/*
.tabs_block::before {
content: "";
height: 28px;
width: 180px;
position:absolute;
top: -78px;

}

.tabs_block::before {

background-color: #B9C2A1;
left: 180px;

}


.tabs__item span {
position: relative;



}




/*
.tabs__item::before {

content: "";
height: 28px;
width: 180px;
position:absolute;
top: -78px;


}


.tabs__item:before {


background-color: #B9C2A1;
content: "";

}
*/

.tabs {

  display: flex;
  flex-direction: column;
  align-items: center;

}

.school {

  font-size: 25px;
font-family: "Baloo 2", sans-serif;
font-optical-sizing: auto;
font-weight: bold;
font-style: normal;

}

.date {

font-size: 22px;
font-family: "Baloo 2", sans-serif;
font-optical-sizing: auto;
font-weight: medium;
font-style: normal;

}


#school1 {

position: absolute;
left: 81px;
top: 105;
}

#school2 {

position: absolute;
left: 81px;
top: 343px;
}

#school3 {

position: absolute;
left: 81px;
top: 588px;
}

#date1 {

position: absolute;
left: 81px;
top:127px ;

}

#date2 {

position: absolute;
left: 81px;
top: 405px;
}

#date3 {

position: absolute;
left: 81px;
top: 612px;
}

#school2div {
position: absolute;
background-color: #FFFFFF;
width: 17px;
height: 17px;
border-radius: 50%;
left: 42px;
top: 352px;
}

#school1div {
position: absolute;
background-color: #FFFFFF;
width: 17px;
height: 17px;
border-radius: 50%;
left: 42px;
top: 114px;
}

#school3div {
position: absolute;
background-color: #FFFFFF;
width: 17px;
height: 17px;
border-radius: 50%;
left: 42px;
top: 597px;
}

#Photoshop {
box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.25)  ;
background-color:#253528;
width: 380px;
height: 34px;
border-radius: 20px;
position: absolute;
top: 223px;
left: 190px; 
}

#Photoshoptxt {

 color: #FFFFFF;
  font-family: "Baloo Bhai 2", sans-serif;
  font-size: 25px;
  font-weight: bolder;
  font-style: normal;
  text-decoration: none;
position: absolute;
left: 21px;
top: -1px;

}

#sprachediv {
box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.25)  ;
background-color:#253528;
width: 220px;
height: 34px;
border-radius: 20px;
position: absolute;
top: 23px;
left:270px;
}

#sprachetxt {

 color: #FFFFFF;
  font-family: "Baloo Bhai 2", sans-serif;
  font-size: 25px;
  font-weight: bolder;
  font-style: normal;
  text-decoration: none;
position: absolute;
left: 15px;
top: -1PX;


}


.sprache {

 color: #FFFFFF;
  font-family: "Baloo Bhai 2", sans-serif;
  font-size: 25px;
  font-weight: bolder;
  font-style: normal;
  text-decoration: none;

}

#b2 {
position: absolute;
left: 110px;
top: 146px;

}

#b1 {
position: absolute;
left: 278px;
top: 146px;

}

#c2 {
position: absolute;
left: 446px;
top: 146px;

}

#c21 {
position: absolute;
left: 614px;
top: 146px;

}

#gr {

position: absolute;
top: 81px;
left: 76px;
}

#eng {

position: absolute;
top: 81px;
left: 248px;
}

#rus {

position: absolute;
top: 81px;
left: 414px;
}

#ukr {

position: absolute;
top: 81px;
left: 574px;
}

#grchart {

  position: absolute;
  top: 120px;
left: 79px;
}

#engchart {

  position: absolute;
  top: 120px;
left: 245px;
}

#muttersprache {

  position: absolute;
  top: 120px;
left: 415px;
}

#muttersprache1 {

  position: absolute;
  top: 120px;
left: 585px;
}


#post {

position: absolute;
top: 280px;
left: 35px;

}

#green {

  position: absolute;
  top: 275px;
left: 270px;
right: 35px;
}

#soft {
 color: #FFFFFF;
  font-family: "Baloo Bhai 2", sans-serif;
  font-size: 25px;
  font-weight: bolder;
  font-style: normal;
  text-decoration: none;
position: absolute;
left: 28.17px;
top: 2px;
}

.soft {

width: 163px;
height: 40px;
background-color: #253528;
border-radius:20px ;
position: absolute;
top: 580px;
left: 308.5px;
box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.25);

}

#softskills {
position: absolute;
top: 650px;
left: 50px;
right: 50px;
color:#253528 ;
font-size: 20px;
font-family: "Baloo 2", sans-serif;
font-optical-sizing: auto;
font-weight:600;
font-style: normal;
text-align: center;
}


.tabs__body {  
position: absolute;
top: 80px;

}
 

/* Endlich es bewegt sich nicht!!!
Vor dies 
.tabs__body {  
position: absolute;
top: 70px;

}

gab es eine Zuckung, wenn man auf link drückt, aber nicht mehr!
*/

#date4, #date5, #date6 {
position: absolute;
left: 81px;

}


#job1, #job2, #job3 {
position: absolute;
left: 81px;

}


#job1 {

top: 166.875px;

}

#job2 {

top: 333.75px;

}

#job3 {
position: absolute;
bottom:166.875px; 
}

#date4 {

  top: 188.875px;


}

#date5 {

  top: 355.75px;

}

#date6 {

bottom:144.875px; 
}


#divjob1 {
position: absolute;
background-color: #FFFFFF;
width: 17px;
height: 17px;
border-radius: 50%;
left: 42px;
top: 175.875px;

}

#divjob2 {
position: absolute;
background-color: #FFFFFF;
width: 17px;
height: 17px;
border-radius: 50%;
left: 42px;
top: 342.75px;

}

#divjob3 {
position: absolute;
background-color: #FFFFFF;
width: 17px;
height: 17px;
border-radius: 50%;
left: 42px;
bottom: 193.875px;

}

#sk8 {
box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.25)  ;
background-color:#253528;
width: 265px;
height: 34px;
border-radius: 20px;
position: absolute;
top: 23px;
left:240px;

}

#sk8txt {

 color: #FFFFFF;
  font-family: "Baloo Bhai 2", sans-serif;
  font-size: 25px;
  font-weight: bolder;
  font-style: normal;
  text-decoration: none;
position: absolute;
left: 28px;
top: -1PX;

}


#sk81 {

position: absolute;
left: 40px;

}

#sk82 {

position: absolute;
left: 280px;

}

#sk83 {

position: absolute;
left: 520px;

}




#sk81, #sk82, #sk83 {

box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.50)  ;


}

#ball {
  
box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.25)  ;
background-color:#253528;
width: 265px;
height: 34px;
border-radius: 20px;
position: absolute;
top: 370px;
left:240px;
  
}


#ball1, #ball2, #ball3 {

box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.50)  ;

}

#ball1 {
position: absolute;
top:440px;
left: 40px;

}

#ball2 {
position: absolute;
top:440px;
left: 280px;

}

#ball3 {
position: absolute;
top:440px;
left: 520px;

}

#balltxt {

color: #FFFFFF;
  font-family: "Baloo Bhai 2", sans-serif;
  font-size: 25px;
  font-weight: bolder;
  font-style: normal;
  text-decoration: none;
position: absolute;
left: 28px;
top: -1PX;


}


#me {

width: 200px;
position: absolute;
left: 130px;
top:42px;
}

#photos {

position: absolute;
top:660px;
left: 196px;
box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
}

#links {
background-color: #253528;
width: 100%;
height: 120PX;
position: absolute;
bottom: -330px;
box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);

}


#quellen {

 color: #FFFFFF;
  font-family: "Baloo Bhai 2", sans-serif;
  font-size: 20px;
  
  font-style: normal;
  text-decoration: none;
position: absolute;
left: 50%;
top: 30px   ;

}


#link1:hover {

color:#ffffff;
}


#link1, #link2 {

 
  font-family: "Baloo Bhai 2", sans-serif;
  font-size: 20px;
  
  font-style: normal;
  
position: absolute;
left: 42%;
   ;

}

#link1 {

top: 50px

}

#link2 {

top:70px

}

.tabs__item:hover {

color:#B9C2A1;
}

#link2:hover {

color:#ffffff;
}